@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sono:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Sono', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-around;
  padding: 1rem;
}

header .logo {
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-evenly;
}

main {
  height: 100vh;
}

footer {
  padding: 1.5em;
  border-top: 1px solid black;
  text-align: center;
}

.main-section {
  display: flex;
  flex-direction: column;
   align-items: center;
}

.main-section #show {
  width: 80%;
  height: 70vh;
  gap: 10px;
  display: grid;
  grid-template-columns: 100%;
  flex-direction: column;
  align-items: center;
}

.main-section #show .popup-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.main-section #show .movie-img {
  height: 35vh;
}

.main-section #show .movie-details {
  display: grid;
  grid-template-columns: 100%;
  gap: 17px;
}

.main-section #show .movie-details .small-details {
    display: grid;
    grid-template-columns: 50% 50%;
}