@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sono:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: 'Sono', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  height: 40vh;
}

.header {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  font-weight: 600;
  width: 100%;
  font-size: 1.2rem;
}

.logo img {
  width: 75px;
  height: 75px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}

nav a:hover,
nav a:focus {
  color: #35caf1;
  border: none;
}

.bg img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 500px;
}

.pointer {
  cursor: pointer;
}

.movie-card {
  flex-basis: 20%;
}

.loading-pages {
  position: absolute;
  display: flex;
  font-size: 70px;
  align-items: center;
  justify-content: center;
  background: rgb(53, 202, 241);
  opacity: 0.4;
  width: 100%;
  height: 100%;
  top: 0;
}

h5 {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
}

h5::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 15em;
  white-space: nowrap;
  color: black;
  animation: loader 5s linear;
}

@keyframes loader {
  0% {
    max-width: 0;
  }
}

.underline {
  text-decoration: underline;
  text-decoration-color: #35caf1;
  text-decoration-thickness: 2px;
}

main {
  display: grid;
  margin-top: -50px;
}

.title-icon {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.fa {
  color: #35caf1;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

h2:hover {
  color: #62bbc1;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  padding: 1rem;
}

.img-card {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.likes {
  text-align: right;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.btn-1 {
  width: 277px;
  padding: 10px 30px;
  text-align: center;
  background-color: #35caf1;
  border: 1px solid #35caf1;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Sono', sans-serif;
}

.btn-1:hover,
.btn-1:focus {
  color: #35caf1;
  border: 1px solid #35caf1;
  background-color: transparent;
  font-weight: bold;
}

footer {
  padding: 1.5em;
  border-top: 2px solid #f8d03f;
  text-align: center;
}

.main-section {
  display: flex;
  margin: 20px 10px 20px 10px;
  background: #fff;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
}

.search {
  width: 100%;
  padding: 10px;
  border: 2px solid #35caf1;
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

.search:hover,
.search:focus {
  border: 1px solid #f8d03f;
}

.search:active {
  border: 2px solid #35caf1;
}

.search-wrapper {
  width: 30%;
  position: relative;
}

ul {
  list-style-type: none;
}

.search-results {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 2px;
}

.search-result {
  padding: 10px;
  background: #35caf1;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 20px 0;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  display: flex;
  gap: 9px;
}

.search-result:hover {
  background: #00566c;
  opacity: 1;
  display: flex;
  gap: 9px;
}

.search-img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
}

.main-section #show {
  width: 80%;
  padding-top: 70px;
  height: auto;
  gap: 30px;
  display: grid;
  grid-template-columns: 100%;
  flex-direction: column;
  align-items: center;
}

.main-section #show .popup-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-section #show .details {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.show-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.main-section #show .details .movie-img {
  width: auto;
  height: 375px;
  flex-basis: 45%;
}

.main-section #show .details .movie-details {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  gap: 17px;
}

.show-more {
  cursor: pointer;
  font-weight: 900;
}

.main-section #show .movie-details .small-details {
  display: grid;
  grid-template-columns: 50% 50%;
}

.main-section #show .movie-details .genres {
  padding: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.main-section #show .movie-details .genres span {
  padding: 5px 7px 5px 7px;
}

.people {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.cast-card {
  width: auto;
  height: 200px;
  flex-basis: 20%;
  text-align: center;
}

.cast-photo {
  height: 150px;
}

.cast-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.recommendations {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.comment-form {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  margin: 0 auto;
}

textarea.input-box {
  border: 1px solid #35caf1;
  font-family: inherit;
  padding: 0.5rem;
  outline: none;
  width: 100%;
}

textarea.input-box:hover,
textarea.input-box:focus {
  border: 1px solid #f8d03f;
}

.input-name {
  width: 375px;
  outline: none;
  border: 1px solid #35caf1;
  font-family: inherit;
  padding: 0.5rem;
}

.input-name:hover,
.input-name:focus {
  border: 1px solid #f8d03f;
}

.input-btn {
  padding: 10px;
  width: 100px;
  font-family: inherit;
  border: 1px solid #35caf1;
  background-color: #35caf1;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.input-btn:hover,
.input-btn:active,
.input-btn:focus {
  border: 1px solid #35caf1;
  color: #35caf1;
  background-color: transparent;
}

.comments {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  text-align: center;
}

.comment {
  display: flex;
  gap: 10px;
}

.comments-header {
  text-align: center;
}

.comment-header {
  text-align: center;
}

.spaLink {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .main-section #show .details {
    display: grid;
  }

  .people .cast-card {
    flex-basis: 45%;
  }

  .input-box {
    width: 100%;
  }

  .input-name {
    width: 100%;
  }

  @media (max-width: 768px) {
    .movie-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.2rem;
      padding: 1rem;
    }

    .img-card {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    h2 {
      font-size: 1rem;
      text-align: center;
    }

    .title-icon {
      grid-template-columns: 1fr;
      height: auto;
    }

    .fa {
      display: block;
      text-align: center;
    }

    .likes {
      text-align: center;
    }
  }
}
